<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="logo"><img class="logoimg"src="/public/picture/logo.png" alt=""></div>
    <div class='number'>Call or Text: 720-589-9338</div>
    <div class='redirect'>
        <a class='links' href="/">HOME</a>
        <a class='links' href="/price">PRICE</a>
        <a class='links' href="/about">ABOUT</a>
        <a class='links' href="/contact">CONTACT</a>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3076.5918836837855!2d-104.94632158437985!3d39.546259779475626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c83ece59aef8d%3A0xfc275e043ffd3ae7!2sAqua%20Pura%20Day%20Spa%20and%20Massages!5e0!3m2!1sen!2sus!4v1640999744120!5m2!1sen!2sus" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe></body>
    <form action="https://formsubmit.co/liabraham.1999@gmail.com" method="POST">
        <input type="hidden" name="_subject" value="Aqua Pura Day Spa">
        <input type="text" name="name" placeholder="Name" required>
        <input type="email" name="email" placeholder="Email Address" required>
        <input type="text" name="subject" placeholder="Subject" required>
        <input type="text" name="_honey" style="display:none">
        <input type="text" name="message" placeholder="Write your message here">
        <input type="hidden" name="_next" value="http://localhost:3000/">
        <input type="hidden" name="_autoresponse" value="We will get back to you">


        <button type="submit">Send</button>
   </form>
</html>