<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Aqua Pura Day Spa</title>
</head>

<body>
    <div class="logo"><img class="logoimg"src="/public/picture/logo.png" alt=""></div>
    <div class='number'>Call or Text: 720-589-9338</div>
    <div class='redirect'>
        <a class='links' href="/">HOME</a>
        <a class='links' href="/price">PRICE</a>
        <a class='links' href="/about">ABOUT</a>
        <a class='links' href="/contact">CONTACT</a>
    </div>
    <div class="middle">
        <div class="info">
            <h2>Full Body Massage & Foot Reflexology</h2>
            <p class="p1">--- A relaxing getaway for your body and your mind ---</p>
            <p class="p2">Choose from our best services inluding:</p>
            <article class='massageone'><a class='massagelink' href="/price">Deep Tissue Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Swedish Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Shiatsu Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Trigger Point Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Back Walking Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Hot Stone Massage</a></article>
            <article class='massage'><a class='massagelink' href="/price">Foot Reflexology Massage</a></article>
        </div>
        <div class='img'><img class='imgone'
                src="https://aluriaspa.com/new/wp-content/uploads/2015/03/massage-envy-image-1.jpg" alt=""></div>
    </div>
    <div class='footer'>
        <article class='address'>Address: 9385 South Colorado Blvd, Unit 103, Highlands Ranch, CO, 80126 </article>
        <div class="logobottom"><img class="logoimg"src="/public/picture/logo.png" alt=""></div>
        <article class='email'>Email: aquapuradayspa@gmail.com</article>

    </div>
</body>

</html>